@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=League+Gothic&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Inconsolata:wght@300&family=League+Gothic&family=Libre+Franklin:wght@200&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Corinthia&family=Inconsolata:wght@300&family=League+Gothic&family=Libre+Franklin:wght@200&family=Questrial&family=Rubik:wght@400;500&display=swap');
#main-div{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 900px;
}

.div1{
    background-color: #f9f6ff;    
}
.div2{
    background-color: #452372;    
}
#img-main-div{
    position: absolute;
    top:10%;
    left:45%;
    width:30%;
    height:86%;
    background-color: #fcfbfe;
    border-radius: 8px;
}
#img1{
    width:170%;
    height:87%;
    margin-left: -33%;
    margin-top: 18%;
}
.circle{
    position:absolute;
    border-radius: 50%;
}
#inner-circle{
    left:66%;
    top:40%;
    width:15%;
    height: 26%;
    background-color: #febcb1;
    animation: spin 7s linear infinite;
}
#outer-circle{
    left:65%;
    top:35%;
    width:19%;
    height: 36%;
    background-color: #381b5d;
    animation: spin 10s linear infinite;
}
#dotted-circle{
    left:64%;
    top:29.4%;
    background-color: transparent;
    width:23%;
    height:45.9%;
    border: 2px dashed rgb(192, 192, 190);
    position:absolute;
    border-radius: 50%;
    animation: spin 7s linear infinite;
}
@keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
  }
#white-circle-1{
    left:79.5%;
    top:27.5%;
    background-color:#fffcfb;
    width:4.5%;
    height:9%;
}
.white-circles{
    background-color:#fffcfb;
    width:4.5%;
    height:9%;
    position: absolute;
    border-radius: 50%;
}
#white-circle-1{
    left:79.5%;
    top:27.5%;
}
#white-circle-2{
    left:85.5%;
    top:46.9%;
}
#white-circle-3{
    left:79.5%;
    top:70%;
}
.circle-img{
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

#circle-img-1{
    margin-left:13%;
    margin-top:12%;
}
#circle-img-1:hover{
    width: 81%;
    height: 80%;
    transition: 0.1s;
    margin-left:10%;
    margin-top:10%;
}
#circle-img-2{
    margin-left:13%;
    margin-top:14%;
}
#circle-img-2:hover{
    width: 81%;
    height: 80%;
    transition: 0.1s;
    margin-left:10%;
    margin-top:10%;
}
#circle-img-3{
    margin-left:13%;
    margin-top:17%;
}#circle-img-3:hover{
    width: 81%;
    height: 80%;
    transition: 0.1s;
    margin-left:10%;
    margin-top:10%;
}
#head1{
    position:absolute;
    font-size:580%;
    left:5%;
    top:16%;
    font-family: 'Rubik', sans-serif;
}
#sub-head{
    position: absolute;
    left:8%;
    top:26%;
    font-family: 'Libre Franklin', sans-serif;
    // font-size: large;
}
#h1-img-small{
    position: absolute;
    width:60px;
    height:40px;
    top:28%;
    left:31%;
}
#search-input{
    position: absolute;
    top:80%;
    left:7%;
    width:54%;
    height:9%;
    color:rgba(216, 216, 216, 0.746);
    border-radius: 50px;
    font-size: 18px;
    border: transparent;
    padding-left: 5%;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    outline: none;
}
#search-button{
    position: absolute;
    left:55%;
    top:81%;
    width:10.5%;
    height: 7%;
    color:black;
    background-color:#febcb1 ;
    border-radius: 50px;
    border: none;
    font-family: 'Questrial', sans-serif;
    font-size:large;
}